<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- Lazy loading is globally enabled here -->
	<settings>
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString" />
		<!-- <setting name="logImpl" value="LOG4J2" /> -->
	</settings>
	<!-- <settings useStatementNamespaces="true" cacheModelsEnabled="false" 
		lazyLoadingEnabled="true"/> -->
	<mappers>
		<!-- <mapper resource="Remitter.xml" /> -->
		<!-- <mapper resource="BusinessUserMapper.xml" />
		<mapper resource="UserGroupMapper.xml" />
		<mapper resource="CheckOutPage.xml" /> -->
	</mappers>
</configuration>